.root
  text-align center
  > *
    &:not(:last-child)
      margin-bottom 10px

.exchangeRate
  font-size 30px

.from > *, .to > *
  display inline-block
  &:not(:last-child)
    margin-right 10px

.fromText
  width 400px

.inputWrap
  width 500px
  display inline-block